div.main-section{
    padding: 0;
    display: grid;
    grid-template-rows: 70px auto;
    height: 100vh;
    
}

div.main-section div.setting{
    padding: 10px 15px;
    background-color: #eee;
}

div.main-section div.setting{
    display: grid;
    grid-template-columns: min-content auto 50px;
    text-align: right;
}

div.main-section div.setting div.text{
    padding-right: 10px;
 
}

div.main-section div.setting div.text h6{
    margin: 0;
}

div.main-section div.setting div.text p{
    font-size: 16px;
    margin: 0;
    color: gray;
}

div.main-section div.setting span.time[last_seen='online']{
    color: rgb(253, 105, 51);
    display: flex;
}

div.main-section div.setting span.time[last_seen='online'] span{
    background-color: rgb(253, 105, 51);
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 6px;
    margin-left: 6px;
    border-radius: 5px;
}

div.main-section div.chat_panel{
    overflow: hidden;
    overflow-y: auto;
}

div.main-section div.chat_panel div.display{
    display: flex;
    flex-direction: column;
}